  .img {
    width: 100%;
}
img{
  width: 100%;
    border-radius: 10px;
		z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.showProduct {
    display: flex;
    background-color: black;
    margin: 20px;
    padding: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
}
.showProductInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.sPflex{
  display: none;
}
.sPbottom-left {display: none;}
h2,p {
  margin: 2px;
}
.velikosti {
  display: flex;
  margin: 0 15px;
}
.velikosti p {
  border-right: 1px solid white;
  padding: 5px;
}
  .showProductInfo {
    display: none;

}
.showProduct {
  flex-direction: column;
  flex: 0 1 22.5% ;
}
main {
  display: flex;
	justify-content: center;
  flex-wrap: wrap;
  padding: 2.5% 0 5% 0;
}
.img {
  position: relative;
  width: 100%;
}
.sPflex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}
.sPbottom-left {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  color: white;
  background-color:rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding:10px 15px;
}
button{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    text-decoration: none;
    background-color: black;
    color: rgb(165, 163, 163);
    padding: 10px;
    margin: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left:none;
    border-right: none;
}
button:hover {
	color: white;
	transition: 1s;
}
.input {
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    text-decoration: none;
    background-color: rgba(0, 0, 0,0.1);
    color: rgb(165, 163, 163);
    padding: 10px;
    margin: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left:none;
    border-right: none;
		cursor: pointer;
}
option {
	background-color: rgb(0, 0, 0);
}
#noBorder{
	border: none;
}
#noBorder:hover{
	color: white;
	transition: 1s;
}
.noMargin {
  margin: 0;
}
#del_product{
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}
body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#black-block{
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	height: 260px;
	width: 100%;
}
#black_background {
	background-color: black;
}
#MyheaderAdmin{
	justify-content: space-around;
}
#flex-just  {
	display: flex;
	align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
@media(max-width:1100px){
  .showProduct{
    flex: 1 0 35%;
  }
	#main {
		flex-wrap: nowrap;
		margin: 0 5%;
}
}
@media(max-width:800px){
  }
@media(max-width:600px){
  .showProduct{
    flex: 1 0 100%;
  }
}
